failure.erb

<h2>Sorry...</h2>
<h3>We can't log in to your account at this time.</h3>

<p>Please try the links below to access your fabulous tour.</p>

<a href="/login">Tour Again</a>
<br>
<a href="/logout">Restart Tour</a>
