failure.erb

<h2>Sorry...</h2>
<h3>We can't log in to your account at this time.</h3>

<p>Please try the links below to access your fabulous tour.</p>
<table width="100%">
  <td width="50%">
    <div class="login">
      <a href="/login">Tour Again</a><h5> Re-try Logging In?</h5>
    </div>
  </td>
  <td>
    <div class="logout">
     <a href="/logout">New Tour</a><h5> Start A Free Account?</h5>
    </div>
  </td>
</table>