success.erb

<!--
<%@user = User.find(session[:user_id])%>
<h2>"Welcome, <%=[:user_id.name]%>!"</h2>
<p>Welcome to the start you the first major tour.
use the reserch andmapping tools to discover venues that are a perfect fit for your performaces.</p>

<ul>
  <h3>Collect a good list of Q&As</h3>
  <li>Discover the best ways individual venues communicate.</li>
  <li>Discover the expected plans for advertising and pre-op budgets.</li>
  <li>Stay connected to the marketing and techincal teams for each venue.</li>
  <li>Learn why, despite how ever bad ass your act is, why you should/shouldn't play a specific venue.</li>
  <li>Understand merch load/savles expectancies.</li>
</ul>

<h3>Then go there and kick ass andmake a name for yourself!<h3>
<%=@user_venues%> <!-- # show existing tour and venue selection-->
<!--<a href="<%='/venues'%>">Find New Tour Stops</a> 
<!-- Research additional tour stops.-->
<!-- Goodluck, Alouiscious.
-->