user_venues.erb

<h2>
"Let's get some gigs, <%=@current_user.first_name%>!"</h2>

<% @venues.each do |venue| %>
  <input type="checkbox" name="user[venue_ids][]" id="<%= venue.id %>" value="<%= venue.id %>"><%= venue.name %><br>
<% end %>
