<h2>
<%@user = User.find(session[:user_id])%>

"Let's get some gigs, <%= @user.first_name%>!"</h2>

<% @venues.each do |venue| %>
  <input type="checkbox" name="user[venue_ids][]" id="<%= venue.id %>" value="<%= venue.id %>"><%= venue.name %>
  <br>
<% end %>