new.erb
<%# <form action="/signup/" method="POST">
  <h2>
    Please setup a tour account by entering your details
  </h2>
 
  <div class='login'>
    <form action='/login' method="POST">
      <label for="username">Username: </label>
      <input id="username" type="text" name="username">
      <br>
      
      <label for="password">Password: </label>
      <input id="password" type="text" name="password">
      <br>    
      <input id="login" type="submit" height="100px" value="Log In">      
    <br>
    <br>
        </form>
  </div>
    <div class='signup'>
    <form action="/user/signup" method="POST">
    <label>First Name: </label>
    <input id="first_name" type="text" name="first_name" required>
    <br>
    <label>Last Name: </label>
    <input id="last_name" type="text" name="last_name" required>
    <br>

    <label for="email">Email: </label>
    <input id="email" type="text" name="email" required>
    <br>
    <label for="username">Username: </label>
    <input id="username" type="text" name="username">
    <br>
    <label>Password: </label>
    <input id="password" type="text" name="password" required>
    <br>
    <label>Band/Artist Name: </label>    
    <input id="bandname" type="text" name="bandname" >
    <br>
    <label>Nick Name: </label>    
    <input id="nickname" type="text" name="nickname" >
    <br>  
    <input id="create_acct" type="submit" name="create_acct" value="Create Account">
  </div> 
</form>   %>
